.footer {
  padding: 18px 12px;
}
.paragh {
  text-align: center;
}

.paragh,
a {
  color: rgb(83, 100, 113);
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

a {
  padding-right: 16px;
  text-decoration: none;
  &:hover {
    color: rgb(83, 100, 113);
    text-decoration: revert;
  }
}
